<div class="results">
  <% @results.each do |result| %>
    <article>
      <div class="info">
        <h1><%= result.number %></h1>
        <%= result.score || 'X' %>/6
      </div>
      <div class="lines">
        <%= result.chars.map { |char| cell(char) }.join %>
      </div>
    </article>
  <% end %>
</div>
