<h1>My Wordle results</h1>

<main>
  <% @results.each do |result| %>
    <article>
      <header>
        <h1><%= result.number %></h1>
        <%= result.score || 'X' %>/6
      </header>
      <div class="lines">
        <%= result.chars.map { |char| cell(char) }.join %>
      </div>
    </article>
  <% end %>
</main>
