<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width" name="viewport">
<title>My Wordle results</title>
<link href="<%= url('/app.css', false) %>" rel="stylesheet" type="text/css">
</head>
<body>
  <%= yield %>
  <footer>
    <p>A doodah by <a href="https://www.benpickles.com">Ben Pickles</a> – <a href="https://github.com/benpickles/wordle">github.com/benpickles/wordle</a></p>
  </footer>
</body>
</html>
