a {
  color: #6495ed;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background: #eee;
  color: #333;
  font: 14px system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

body > h1 {
  font-size: clamp(1rem, 10vw, 5rem);
  letter-spacing: -0.04em;
  margin: 0;
  padding: 18vh 0;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

main {
  display: grid;
  gap: min(7vw, 2.5rem);
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  padding: 0 min(5vw, 4rem);
}

article header {
  display: flex;
  justify-content: space-between;
}

article h1 {
  font-size: inherit;
  margin: 0;
}

article .lines {
  margin-top: 0.3rem;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(5, 1fr);
}
article .lines > * {
  border-radius: 1px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, var(--outline-alpha));
  font-style: normal;
  text-indent: -1000rem;

  /* https://css-tricks.com/aspect-ratios-grid-items/ */
  height: 0;
  padding-bottom: calc(100%);
}
article .lines b {
  --outline-alpha: 0.09;
  background: linear-gradient(#65cf65, #00b100);
}
article .lines i {
  --outline-alpha: 0.06;
  background: linear-gradient(#ffe065, #ebb000);
}
article .lines u {
  --outline-alpha: 0.02;
  background: linear-gradient(#dedede, #d9d9d9);
}

footer {
  padding: 4rem 0 8rem;
  text-align: center;
}
footer p {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #ed8964;
  }

  body {
    background: #333;
    color: #ddd;
  }

  body > h1 {
    text-shadow: 1px 1px 0 #111;
  }

  article .lines u {
    background: linear-gradient(#444, #111);
  }
}
